<div class="span4">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Administración</li>
      <li><a href="<%= requests_path %>"><i class="icon-search"></i> Consultar solicitudes</a></li>
      <li><a href="<%= vacations_path %>"><i class="icon-calendar"></i> Consultar días disponibles</a></li>
      <li><a href="<%= admin_database_path %>"><i class="icon-upload"></i> Subir base de datos de días disponibles</a></li>
      <li><a href="<%= admin_leaders_path %>"><i class="icon-upload"></i> Subir base de datos de líderes </a></li>
    </ul>
  </div>
</div>